.page-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3a3a3a;
  width: 100%;
  height: 160px;
  position: relative;
}

.page-header-logo-container {
  max-width: 600px;
  width: 80%;
  height: 160px;
  background-image: url('../img/logo.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.page-header-text {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 5px;
  font-style: italic;
  color: azure;
}

.page {
	text-align: center;
  margin-right: 35px;
  margin-left: 35px;
  overflow-x: hidden;
}

p {
	text-align: justify;
}

a {
  color: #3F51B5;
}

/*code {
	background-color: rgba( 0, 0, 0, .3 );
    border-radius: 3px;
    padding: 2px 5px;
}*/

ul:not(.list-of-pages),
ol {
	max-width: max-content;
	margin: 0 auto;
	text-align: left;
}

.block-of-material > table {
    text-align: justify;
    margin: 0 auto;
    border-collapse: collapse;
}

.block-of-material > table th,
.block-of-material > table td {
	border: 1px solid black;
}

th {
	background: lightgrey;
}

a[href*="http"]:not(.tools-bar a) {
	background-position: center right;
    background-repeat: no-repeat;
    background-image: url('https://en.wikipedia.org/w/skins/Vector/images/external-link-ltr-icon.png?325de');
    padding-right: 13px;
}

.page-headings-container {
	display: none;
	position: fixed;
	background: bisque;
	padding: 5px;
	z-index: 1;
}

.tools-bar {
  display: none;

	position: fixed;
	top: 170px;
	right: 5px;
	border: 1px solid black;
	z-index: 1;
}

.tools-bar a {
	display: block;
	text-decoration: none;
	opacity: .7;
}

.tools-bar a:hover {
	opacity: 1;
}

.page img {
	width: 100%;
	border: 2px solid black;
	cursor: pointer;
}

@media (min-width: 1000px) {
	p {
		text-align: center;
	}

	.page img {
		width: 50%;
	}
}

.all-articles-navigation-panel,
.more-articles-navigation-panel {
	text-align: left;
}

.donate-btn {
  display: none;
  background-color: aqua;
  transform: translate(0,100%) rotate(-90deg);
  transform-origin: 0 0;
  position: fixed;
  top: 345px;
  left: 5px;
  padding: 5px;
  text-decoration: none;
}


/*For code hosted on GitHub*/
@media (min-width: 1000px) {
	.gist {
		max-width: 50%;
		margin: 0 auto;
	}
}

.gist-meta {
	display: none;
}


/*.list-of-articles-container {
  max-height: 300px;
  max-width: 90%;
  overflow-y: scroll;
  border-top: 2px solid;
}*/

.apn {
  margin-top: 10px;
  color: #FFC107;
  background-color: #525353;
  padding: 10px;
  text-align: center;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #3a3a3a;
}

.page-footer-element {
  margin: 0 10px;
}

.page-footer-legal-info-container {
  font-size: 2rem;
  color: #698e5a;
}

.page-footer-counter-clustrmap {
  cursor: default;
}

.page-footer-counter-clustrmap img {
  clip-path: inset(0 22px);
}

.ad-block-container-image-wrapper {
  border: thin #c0c0c0 solid;
  display: flex;
  flex-flow: column;
  padding: 5px;
  max-width: 220px;
  margin: auto;
}

.ad-block-container-image-wrapper:hover {
  cursor: pointer;
}

.ad-block-container-image {
  max-width: 220px;
  max-height: 150px;
  width: auto !important;;
}

.ad-block-container-image-title {
  background-color: #222;
  color: #fff;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}


.demo-article-container {
  border: thick double #32a1ce;
  padding: 15px;
  margin: 15px;
}

.demo-article-image {
  max-width: 50%;
}

.demo-article-text {
  padding: 30px;
}


.game-2048-container {
  display: flex;
  justify-content: center;
}

.game-2048-iframe {
  width: 100%;
  height: 600px;
}

@media (min-width: 1000px) {
  .game-2048-iframe {
    width: 50%;
  }
}


.ad-click-notification {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #8bc34a;
  padding: 5px;
  border-radius: 5px;
  z-index: 1000;
}


.amazon-side-widget {
  position: fixed;
  top: 180px;
  left: 15px;
  background-color: #8bc34a;
  padding: 5px;
  border-radius: 5px;
  border-top-right-radius: 0;
  z-index: 1000;
  transition: left 1s ease-out;
}

.amazon-side-widget.is-closed {
  left: -130px;
}

.amazon-side-widget-title {
  padding-bottom: 4px;
  text-shadow: 2px 1px 2px white;
}

.amazon-side-widget-nav-btn {
  position: absolute;
  top: 95px;
  background-color: #8bc34a;
  padding: 7px;
  border-radius: 50%;
  color: #3a3a3a;
  cursor: pointer;
}

.amazon-side-widget.is-closed .amazon-side-widget-nav-btn {
  display: none;
}

.amazon-side-widget-nav-btn:hover {
  background-color: #a5de61;
}

.amazon-side-widget-prev-btn {
  left: -12px;
}

.amazon-side-widget-next-btn {
  right: -12px;
}

.amazon-side-widget-more-btn {
  display: block;
  text-align: center;
}

.amazon-side-widget-more-btn ~ img {
  display: none;
}

.amazon-side-widget-close-btn {
  position: absolute;
  right: -18px;
  top: 0;
  background-color: #8bc34a;
  padding: 5px;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  cursor: pointer;
  transition: right 1s ease-out;
}

.amazon-side-widget.is-closed .amazon-side-widget-close-btn {
  right: -18px;
}

.amazon-side-widget-close-btn:hover {
  background-color: #a5de61;
}


/*Font Awesome*/
/*https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css*/

@font-face {
  font-family: 'FontAwesome';
  src: url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-chevron-circle-left:before {
  content: "\f137"
}

.fa-chevron-circle-right:before {
  content: "\f138"
}

.fa-angle-double-left:before {
  content: "\f100"
}

.fa-angle-double-right:before {
  content: "\f101"
}